YT-First Automation Workflow
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Sermon Metadata Submission Form",
        "formDescription": "Please fill out this short form before your livestream or video upload. The information will be used to generate accurate blog posts, social media content, and other materials for your sermon. This helps us ensure everything is ready for review and publishing immediately after the stream.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Sermon Title",
              "requiredField": true
            },
            {
              "fieldLabel": "Speaker Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Date",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Series Name"
            },
            {
              "fieldLabel": "Scripture Reference(s) (Separated by comma)",
              "placeholder": "John 3:16, Philippians: 4:13, ...",
              "requiredField": true
            },
            {
              "fieldLabel": "Church Name",
              "requiredField": true
            },
            {
              "fieldLabel": "YouTube Link",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        -180
      ],
      "id": "19a647b3-8dbb-4a08-93d7-874a90848f3e",
      "name": "On form submission",
      "webhookId": "1c13a1bc-8815-4831-a03d-5786c7c1a25b"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13gGQ-L9FHYqGSgkQ_--8rSFEBn-dIzcP2QpibhXvPW0",
          "mode": "list",
          "cachedResultName": "AI Workflow Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13gGQ-L9FHYqGSgkQ_--8rSFEBn-dIzcP2QpibhXvPW0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13gGQ-L9FHYqGSgkQ_--8rSFEBn-dIzcP2QpibhXvPW0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Submitted at": "={{ $json.submittedAt }}",
            "Sermon Title": "={{ $json['Sermon Title'] }}",
            "Speaker Name": "={{ $json['Speaker Name'] }}",
            "Date": "={{ $json.Date }}",
            "Series Name": "={{ $json['Series Name'] }}",
            "Scripture References": "={{ $json['Scripture Reference(s) (Separated by comma)'] }}",
            "Church Name": "={{ $json['Church Name'] }}",
            "Link": "={{ $json[\"YouTube Link\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Submitted at",
              "displayName": "Submitted at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sermon Title",
              "displayName": "Sermon Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Speaker Name",
              "displayName": "Speaker Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Series Name",
              "displayName": "Series Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scripture References",
              "displayName": "Scripture References",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Church Name",
              "displayName": "Church Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        -180
      ],
      "id": "a977cc55-5353-41ba-bbd5-32d709c25c01",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uEqMp9SuO2yPeg7C",
          "name": "Google Sheets - Joaquin"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "get",
        "videoId": "={{ $json.Link.split(\"v=\")[1] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        440,
        -180
      ],
      "id": "8b78a316-1477-46a6-830e-e944bd97d289",
      "name": "YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "lSggnTPzpXWI1eoA",
          "name": "YouTube account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "## Transcription flow\n1. Get YouTube Metadata and confirm video id\n2. Download video\n2.5. Wait for the video to download\n3. Send to Groq for transcription\n4. Send to GPT 3.5 for formatting\n5. Convert transcript into HTML",
        "height": 400,
        "width": 1340,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        420,
        -380
      ],
      "id": "7b2e8e9c-6e57-4186-9b74-27fed27f1bd8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://e005-2600-1700-8370-22e0-e8e4-2d1-935-592a.ngrok-free.app/download",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "=https://www.youtube.com/watch?v={{ $json.id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        -180
      ],
      "id": "a6523b67-5678-4c7b-8800-cbf5366f34f4",
      "name": "Download YT Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "bearer <API-KEY>"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "audio"
            },
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "name": "language",
              "value": "en"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        -180
      ],
      "id": "af3830e9-2337-4032-a8bb-1247a0daa930",
      "name": "Get Video Transcription"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "You are a helpful assistant who formats sermon transcripts into clearly structured paragraphs. Maintain the original meaning and flow of the speaker’s words, but break up the text into logical chunks for better readability. Do not summarize or skip any content.",
              "role": "system"
            },
            {
              "content": "=Here is a transcript of a sermon. It is currently unformatted and difficult to read. Format it into clear, readable paragraphs. Preserve all the original wording and do not summarize or skip any sentences.\n\nTranscript:\n{{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1280,
        -180
      ],
      "id": "8389f332-7f37-466e-a1fb-9b8731aa7f6b",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "uHhM3GMtCxg9mo7L",
          "name": "5MT n8n Sermon Publishing Workflow OpenAI Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst rawText = $input.first().json.message.content\nconst paragraphs = rawText\n  .split(/\\n{2,}/)\n  .map(p => `<p>${p.trim()}</p>`)\n  .join('\\n\\n');\n\nconst cleaned = paragraphs.replace(/\\n+/g, '');\n\nreturn [{json: {formattedTranscript: cleaned} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        -180
      ],
      "id": "fceedebf-8ed0-41cc-b426-6ca25949dc66",
      "name": "Convert to HTML"
    },
    {
      "parameters": {
        "title": "={{ $('Google Sheets').item.json['Sermon Title'] }}",
        "additionalFields": {
          "content": "={{ $('YouTube').item.json.player.embedHtml }} {{ $json.formattedTranscript }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1860,
        -180
      ],
      "id": "9c30a00f-3864-41ba-a9cb-44f9e49bf814",
      "name": "Wordpress1",
      "credentials": {
        "wordpressApi": {
          "id": "lFYyN14RBwz0R8uh",
          "name": "Wordpress account 12"
        }
      }
    },
    {
      "parameters": {
        "content": "## Wordpress flow\nCreate post with sermon title, YT video, and transcription",
        "height": 380,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1800,
        -360
      ],
      "typeVersion": 1,
      "id": "62c13f22-29cf-42ca-a6cc-11bbdb3f5bac",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        860,
        -180
      ],
      "id": "577a1065-6a91-444b-9729-20961d87260d",
      "name": "Wait",
      "webhookId": "9166814d-74cd-4757-b96d-5dd3dc2a671e"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        [
          {
            "node": "Download YT Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download YT Video": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Transcription": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Convert to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to HTML": {
      "main": [
        [
          {
            "node": "Wordpress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Video Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f318f1eeb582bef69a56797ad1f28184a54cfe51b0e461ee190c5740946ea07e"
  }
}
